h1 {
	color: white;
	font-size: xx-large;
    text-align: center;
}

body {
    background-color: green;
}

.mainParagraph {
    text-align: center;
	color: white;
}

p {
    color: white;
}

.signUpBox {
    border-color: white;
    border-radius: 5%;
    border-width: 10px;
}